@import "../styles/variables";


.main_page {

  .title {
    display: flex;
    justify-content: center;
    color: $secondary_color;
    margin-top: 2em;
    font-size: 27px;

    i {
      margin-left: 0.5em;
      margin-top: 0.2em;
    }
  }

  .blogs_container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 4em;
    align-items: stretch;
    padding-bottom: 2em;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100px;
  }
}